body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(135deg,#b4b6b875,#1b71c775);
}

/* HEADER */
header {
    background: #111;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 60px;
    background: linear-gradient(135deg,#b4b6b875,#b4b6b875);
    color: rgb(0, 0, 0);
}

.btn {
    background: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* CONTENT */
.content {
    padding: 40px;
    text-align: center;
}

/* CARD PORTFOLIO */

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-link {
    text-decoration: none;
    color: black;
}

.card {
    background: white;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

/* EFFECT HOVER */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* SECTION PORTFOLIO */

.portfolio-detail {
    padding: 50px;
    display: flex;
    justify-content: center;
}

/* BOX UTAMA */
.portfolio-box {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 900px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

/* GAMBAR */
.portfolio-image img {
    width: 200px;
    border-radius: 10px;
}

/* TEXT */
.portfolio-text {
    text-align: left;
}

.portfolio-text h2 {
    margin-bottom: 15px;
}

/* PORTFOLIO 2 */

.portfolio2 {
    padding: 50px;
    max-width: 900px;
    margin: auto;
}

/* CARD MENURUN KE BAWAH */
.card-portfolio {
    display: flex;
    align-items: center;
    gap: 25px;
    background: white;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

/* HOVER EFFECT */
.card-portfolio:hover {
    transform: translateY(-5px);
}

/* IMAGE */
.card-portfolio img {
    width: 200px;
    border-radius: 10px;
}

/* TEXT */
.card-text {
    text-align: left;
}



/* ABSEN FORM */
.container {
    background: white;
    padding: 30px;
    margin: 40px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 15px;
    background: #111;
    color: white;
    border-radius: 5px;
}
